<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Mirabo</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/agency.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Mirabo</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#explanation">Écoles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">F.A.Q.</a>
          </li>
          <a class="navbar-btn js-scroll-trigger" href="#services">Commander</a>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="row intro-text d-flex justify-content-center">
          <img src="img/pictos/headset.png" class = "col-md-8 m-5">
      </div>
      <div class="row d-flex justify-content-center">
            <div class="col-md-6">
              <h3 class="text-landing">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
            </div>
        </div>
    </div>
  </header>

  <!-- Services -->
  <section class="page-section gray-bg" id="product">
    <div class="container">
      <div class="row justify-content-center d-flex">
        <h3 class="redtext title">Mirabo c'est quoi ?</h3>
      </div>
      <div class="row">
        <div class="col panel red">
          <div class="row">
            <img src="img/photos/packaging.png" class="col-md-8">
            <div class="col-md-4 text-panel">
              <h2 class="title">Lorem Ipsum</h2>
              <h2 class="text">Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2>
              <btn class="btn-primary btn">En savoir plus ...</btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section" id="explanation">
    <div class="container">
      <div class="row m-5">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading title redtext">Pourquoi choisir Mirabo ?</h2>
        </div>
      </div>
      <div class="row justify-content-md-around">
        <div class="col-md-4 col-sm-6 explanation-item">
          <a class="explanation-link" data-toggle="modal" href="#explanationModal1">
            <div class="explanation-hover photo">
              <div class="explanation-hover-content">
                <div class="row justify-content-center">
                  <img src="img/pictos/Picto_Headset.png" class="col-md-6 picto-hover">
                </div>
                <div class="row justify-content-center">
                  <h3 class="col-md-6">Lorem Ipsum</h3>
                </div>
              </div>
            </div>
            <img class="img-fluid photo" src="img/photos/photo1.jpg" alt="">
          </a>
        </div>
        <div class="col-md-4 col-sm-6 explanation-item">
          <a class="explanation-link" data-toggle="modal">
            <div class="explanation-hover photo">
              <div class="explanation-hover-content">
                <div class="row justify-content-center">
                  <img src="img/pictos/Picto_Fun.png" class="col-md-6 picto-hover">
                </div>
                <div class="row justify-content-center">
                  <h3 class="col-md-6">Lorem Ipsum</h3>
                </div>
              </div>
            </div>
            <img class="img-fluid photo" src="img/photos/photo2.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="row justify-content-md-between">
        <div class="col-md-4 col-sm-6 explanation-item">
          <a class="explanation-link" data-toggle="modal">
            <div class="explanation-hover photo">
              <div class="explanation-hover-content">
                <div class="row justify-content-center">
                  <img src="img/pictos/Picto_Dys.png" class="col-md-6 picto-hover">
                </div>
                <div class="row justify-content-center">
                  <h3 class="col-md-6">Lorem Ipsum</h3>
                </div>
              </div>
            </div>
            <img class="img-fluid photo" src="img/photos/photo3.jpg" alt="">
          </a>
        </div>
        <div class="col" id="foot-character">
          <img src="img/design/logoMirabo.png" class="character-img col-sm-12 " >
        </div>
        <div class="col-md-4 col-sm-6 explanation-item">
          <a class="explanation-link" data-toggle="modal">
            <div class="explanation-hover photo">
              <div class="explanation-hover-content">
                <div class="row justify-content-center">
                  <img src="img/pictos/Picto_Team.png" class="col-md-6 picto-hover">
                </div>
                <div class="row justify-content-center">
                  <h3 class="col-md-6">Lorem Ipsum</h3>
                </div>
              </div>
            </div>
            <img class="img-fluid photo" src="img/photos/photo4.jpg" alt="">
          </a>
        </div>
      </div>
      </div>
    </div>
  </section>

  <section class="page-section" id="how">
  <div class="container">
    <div class="row justify-content-center">
      <h3 class="title brown">Comment ça marche ?</h3>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="carousel slide carousel-fade" data-ride="carousel" id="quote-carousel">
          <ol class="carousel-indicators row justify-content-around">
            <li data-target="#quote-carousel" data-slide-to="0" class="active col-4"><img src="img/pictos/carousel-button-1.png">
            </li>
            <li data-target="#quote-carousel" data-slide-to="1" class="col-4"><img src="img/pictos/carousel-button-2.png">
            </li>
            <li data-target="#quote-carousel" data-slide-to="2" class="col-4"><img src="img/pictos/carousel-button-3.png">
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-7 col-12 align-self-center">
                  <h5 class="brown">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur 1. !</h5>
                </div>
                <img class="col-md-4 character-img" src="img/design/character-1.png">
              </div>
            </div>
            <!-- Quote 2 -->
            <div class="carousel-item">
              <div class="row">
                <img class="col-md-4 character-img" src="img/design/character-2.png">
                <div class="col-md-7 col-12 align-self-center">
                  <h5 class="brown">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur 1. !</h5>
                </div>
              </div>
            </div>
            <!-- Quote 3 -->
            <div class="carousel-item">
              <div class="row">
              <div class="col-md-7 col-12 align-self-center">
                <h5 class="brown">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur 1. !</h5>
              </div>
              <img class="col-md-4 character-img" src="img/design/character-1.png">
            </div>
            </div>
          </div>
          <!-- Bottom Carousel Indicators -->


        </div>
      </div>
    </div>
  </div>
  </section>
  <section class="page-section" id="partners">
    <div class="container">
      <div class="row justify-content-center d-flex">
        <h2 class="brown title">Ils nous font confiance</h2>
      </div>
      <div class="row justify-content-md-around logo-container">
        <img src="img/logos/invie.png" class="col-3 logo-partners">
        <img src="img/logos/startupforkids.png" class="col-3 logo-partners">
        <img src="img/logos/stationf.png" class="col-3 logo-partners">
      </div>
      <div class="row justify-content-center d-flex">
        <h3 class="brown title">Ils parlent de nous</h3>
      </div>
      <div class="row justify-content-md-around logo-container">
        <img src="img/logos/europe1.png" class="col-3 logo-partners">
        <img src="img/logos/quotidien.png" class="col-3 logo-partners">
      </div>
      <div class="row justify-content-md-around logo-container">
        <img src="img/logos/leparisien.png" class="col-3 logo-partners">
        <img src="img/logos/latribune.png" class="col-3 logo-partners">
        <img src="img/logos/diversidays.png" class="col-3 logo-partners">
      </div>
    </div>
  </section>

  <section class="page-section" id="order">
    <div class="container">
      <div class="row justify-content-between order-container">
        <div class="col-md-6">
          <img src="img/photos/packaging.png" class="col-md-12">
          <div class="row justify-content-center">
            <img src="img/logos/apple.png" class="col-4 logo-store">
            <img src="img/logos/android.png" class="col-4 logo-store">
          </div>
        </div>
        <div class="col-md-5">
          <div class="row">
            <h3 class="title redtext col-12">Lorem Ipsum</h3>
          </div>
          <div class="row">
            <h5 class="text-panel col-10">Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
          </div>
          <div class="row justify-content-end">
            <btn class="btn-primary btn-order col-3">Commander</btn>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer" id="footer-page">
    <div class="container">
      <div class="row justify-content-center">
        <h3 class="footer-title col-sm-6 col-md-8">Rejoignez notre communauté !</h3>
      </div>
      <div class="row justify-content-center socials-container">
        <div class="col-12">
          <div class="row justify-content-around">
            <img src="img/logos/facebook.png" class="col-3 col-md-2">
            <img src="img/logos/instagram.png" class="col-3 col-md-2">
            <img src="img/logos/twitter.png" class="col-3 col-md-2">
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-between footer-category-container">
        <div class="col-4">
          <h3 class="footer-category-title text-left col-12">Mirabo</h3>
          <h3 class="footer-category-text col-8 text-left">Solution en réalité mixte pour les enfants atteints de troubles d’apprentissage. L’application et le livre sont édités et gérés par la startup Reenbow.</h3>
        </div>
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Your Website 2019</span>
        </div>
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Your Website 2019</span>
        </div>
      </div>
    </div>
  </footer>

  <!-- explanation Modals -->

  <!-- Modal 1 -->
  <div class="explanation-modal modal fade" id="explanationModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="img/explanation/01-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Threads</li>
                  <li>Category: Illustration</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="explanation-modal modal fade" id="explanationModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="img/explanation/02-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Explore</li>
                  <li>Category: Graphic Design</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="explanation-modal modal fade" id="explanationModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="img/explanation/03-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Finish</li>
                  <li>Category: Identity</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="explanation-modal modal fade" id="explanationModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="img/explanation/04-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Lines</li>
                  <li>Category: Branding</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 5 -->
  <div class="explanation-modal modal fade" id="explanationModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="img/explanation/05-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Southwest</li>
                  <li>Category: Website Design</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 6 -->
  <div class="explanation-modal modal fade" id="explanationModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="img/explanation/06-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Window</li>
                  <li>Category: Photography</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/agency.min.js"></script>


</body>

</html>
